{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
{% load i18n %}
<div class="p-4">
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <h1 class="">{% trans "Authorization" %}</h1>
    <form class="py-3" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% trans "Пожалуйста, введите правильные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру." %}
            </div>
        {% endif %}
        <div class="form-group">
        <label for="username">{% trans "Username" %}</label>
        <input type="username" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="{% trans "Enter username" %}">
        </div>
        <div class="form-group">
        <label for="password">{% trans "Password" %}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{% trans "Enter password" %}">
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
  
{% endblock %}