{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Employees" %}{% endblock %}

{% block content %}

<h1>{% trans "Employees" %}</h1>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans "Last name" %}</th>
                <th scope="col">{% trans "First name" %}</th>
                <th scope="col">{% trans "Username" %}</th>
                <th scope="col">{% trans "Employee type" %}</th>
                <th scope="col">{% trans "Services" %}</th>
                <th scope="col">{% trans "Phone" %}</th>
                <th scope="col">{% trans "Work experience (years)" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <th scope="row">{{ employee.employee_object.user.last_name }}</th>
                    <td>{{ employee.employee_object.user.first_name }}</td>
                    <td>
                        <a href="{% url 'view_employee' id=employee.employee_object.user.id %}">
                            {{ employee.employee_object.user }}
                        </a>
                    </td>
                    <td>
                        {% if employee.employee_object.employee_type == 'MANAGER' %}
                            {% trans "Manager" %}
                        {% elif employee.employee_object.employee_type == 'SEWER' %}
                            {% trans "Sewer" %}
                        {% else %}
                            <i>{% trans "Undefinedd" %}</i>
                        {% endif %}
                    </td>
                    <td>
                        {% for service in employee.employee_services %}
                        <a href="#">{{ service.name }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ employee.employee_object.phone }}</td>
                    <td>
                        {% if employee.employee_object.work_xp %}
                            {{ employee.employee_object.work_xp }}
                        {% else %}
                            {% trans "No work experience" %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}