{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if employee.user.last_name and employee.user.first_name %}
        {{ employee.user.last_name }} {{ employee.user.first_name }}
    {% elif employee.user.last_name and not employee.user.first_name %}
        {{ employee.user.last_name }} ({{ employee.user }})
    {% elif not employee.user.last_name and employee.user.first_name %}
        {{ employee.user.first_name }} ({{ employee.user }})
    {% else %}
        {{ employee.user }}
    {% endif %}
{% endblock %}

{% block content %}
<a class="btn btn-link" href="{{request.META.HTTP_REFERER}}">← {% trans 'Previous page' %}</a>

{% if employee.user.last_name and employee.user.first_name %}
    <h1>{{ employee.user.last_name }} {{ employee.user.first_name }}</h1>
{% elif employee.user.last_name and not employee.user.first_name %}
    <h1>{{ employee.user.last_name }} ({{ employee.user }})</h1>
{% elif not employee.user.last_name and employee.user.first_name %}
    <h1>{{ employee.user.first_name }} ({{ employee.user }})</h1>
{% else %}
    <h1>{{ employee.user }}</h1>
{% endif %}

<div class="table-responsive mt-3">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">{% trans "Last name" %}</th>
                <td>
                    {% if employee.user.last_name %}
                        {{ employee.user.last_name }}
                    {% else %}
                        <i>{% trans 'Undefined'%}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans "First name" %}</th>
                <td>
                    {% if employee.user.first_name %}
                        {{ employee.user.first_name }}
                    {% else %}
                        <i>{% trans 'Undefined'%}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans "Username" %}</th>
                <td>{{ employee.user }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Employee type" %}</th>
                <td>
                    {% if employee.employee_type == 'MANAGER' %}
                        {% trans 'Manager' %}
                    {% elif employee.employee_type == 'SEWER' %}
                        {% trans 'Sewer' %}
                    {% else %}
                        <i>{% trans 'Undefined' %}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>   
                <th scope="row">{% trans "Services" %}</th>
                <td>
                    {% if employee_services %}
                        {% for service in employee_services %}
                            <a href="{% url 'view_service' id=service.id %}">{{ service.name }}</a>
                        {% endfor %}
                    {% else %}
                        <i>{% trans 'Undefined'%}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>   
                <th scope="row">{% trans "Phone" %}</th>
                <td>{{ employee.phone }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Work experience (years)" %}</th>
                <td>
                    {% if employee.work_xp %}
                        {{ employee.work_xp }}
                    {% else %}
                        {% trans "No work experience" %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}