{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if employee.user.last_name and employee.user.first_name %}
        {{ employee.user.last_name }} {{ employee.user.first_name }}
    {% elif employee.user.last_name and not employee.user.first_name %}
        {{ employee.user.last_name }} ({{ employee.user }})
    {% elif not employee.user.last_name and employee.user.first_name %}
        {{ employee.user.first_name }} ({{ employee.user }})
    {% else %}
        {{ employee.user }}
    {% endif %}
{% endblock %}

{% block content %}
<a class="btn btn-link" href="{{request.META.HTTP_REFERER}}">← {% trans 'Previous page' %}</a>

{% if employee.user.last_name and employee.user.first_name %}
    <h1>{{ employee.user.last_name }} {{ employee.user.first_name }}</h1>
{% elif employee.user.last_name and not employee.user.first_name %}
    <h1>{{ employee.user.last_name }} ({{ employee.user }})</h1>
{% elif not employee.user.last_name and employee.user.first_name %}
    <h1>{{ employee.user.first_name }} ({{ employee.user }})</h1>
{% else %}
    <h1>{{ employee.user }}</h1>
{% endif %}

<div class="table-responsive mt-3">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">{% trans "Last name" %}</th>
                <td>
                    {% if employee.user.last_name %}
                        {{ employee.user.last_name }}
                    {% else %}
                        <i>{% trans "Undefinedd" %}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans "First name" %}</th>
                <td>
                    {% if employee.user.first_name %}
                        {{ employee.user.first_name }}
                    {% else %}
                        <i>{% trans "Undefinedd" %}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans "Username" %}</th>
                <td>{{ employee.user }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Employee type" %}</th>
                <td>
                    {% if employee.employee_type == 'MANAGER' %}
                        {% trans 'Manager' %}
                    {% elif employee.employee_type == 'SEWER' %}
                        {% trans 'Sewer' %}
                    {% else %}
                        <i>{% trans "Undefinedd" %}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>   
                <th scope="row">{% trans "Services" %}</th>
                <td>
                    {% if employee_services %}
                        {% for service in employee_services %}
                            <a href="{% url 'view_service' id=service.id %}">{{ service.name }}</a>
                        {% endfor %}
                    {% else %}
                        <i>{% trans "Undefinedd" %}</i>
                    {% endif %}
                </td>
            </tr>
            <tr>   
                <th scope="row">{% trans "Phone" %}</th>
                <td>{{ employee.phone }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Work experience (years)" %}</th>
                <td>
                    {% if employee.work_xp %}
                        {{ employee.work_xp }}
                    {% else %}
                        {% trans "No work experience" %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h4>{% trans "Orders" %}</h4>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans "#" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Service" %}</th>
                <th scope="col">{% trans "Start date" %}</th>
                <th scope="col">{% trans "Cost" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if employee_orders %}
                {% for order in employee_orders %}
                    <tr>
                        <td>
                            <a href="{% url 'view_order' id=order.order_object.id %}">{{ order.order_object.id }}</a>
                        </td>
                        <td>{{ order.localized_status }}</td>
                        <td>
                            {% if order.order_object.id_service %}
                                <a href="{% url 'view_service' id=order.order_object.id_service.id %}">{{ order.order_object.id_service }}</a>
                            {% else %}
                                <i>{% trans "Undefinedd" %}</i>
                            {% endif %}
                        </td>
                        <td>{{ order.order_object.start_date }}</td>
                        <td>{{ order.order_object.cost }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center font-italic">{% trans "The employee does not fulfill any order" %}</td>
                </tr> 
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}