{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{% trans "Atelier" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">{% trans "Main" %}<span class="sr-only">(current)</span></a>
            </li>

            {% if user.is_authenticated %}
                {% if user_group == 'Managers' or 'Sewers' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_orders' %}">
                            {% trans "Orders" %}
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Materials" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'all_materials' %}">{% trans "View materials" %}</a>
                            <a class="dropdown-item" href="{% url 'all_categories' %}">{% trans "Categories" %}</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </li>
                {% endif %}

                {% if user_group == 'Managers' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_clients' %}">
                            {% trans "Clients" %}
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_employees' %}">
                            {% trans "Employees" %}
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_services' %}">
                            {% trans "Services" %}
                            <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% endif %}
            
        </ul>
        {% if user.is_authenticated %}
            <div>
                <span class="align-middle">
                    {% trans "Hello" %}, <a href="{% url 'view_own_profile' %}">{% if user.get_full_name != "" %} {{ user.get_full_name }} 
                    {% else %} {{ user }}
                    {% endif %}</a>
                </span>
                <a class="btn btn-link ml-2 my-2 my-sm-0" role="button"
                href="{% url 'logout' %}">
                    {% trans "Sign out" %}
                </a>
            </div>
        {% else %}
            <div>
                <a class="btn btn-link" role="button"
                href="{% url 'auth' %}">
                    {% trans "Sign in" %}
                </a>
            </div>
        {% endif %}
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>