{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Orders" %}{% endblock %}

{% block content %}

<h1>{% trans "Orders" %}</h1>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans "#" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Payment status" %}</th>
                <th scope="col">{% trans "Employee" %}</th>
                <th scope="col">{% trans "Client" %}</th>
                <th scope="col">{% trans "Service" %}</th>
                <th scope="col">{% trans "Start date" %}</th>
                <th scope="col">{% trans "Cost" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'view_order' id=order.order_object.id %}">{{ order.order_object.id }}</a>
                    </th>
                    <td>{{ order.localized_status }}</td>
                    <td>{{ order.localized_payment_status }}</td>
                    <td>
                        {% if order.order_object.id_employee %}
                            <a href="{% url 'view_employee' id=order.order_object.id_employee.user.id %}">{{ order.order_object.id_employee }}</a>
                        {% else %}
                            <i>{% trans "Undefinedd" %}</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.order_object.id_client %}
                            <a href="{% url 'view_client' id=order.order_object.id_client.id %}">{{ order.order_object.id_client }}</a>
                        {% else %}
                            <i>{% trans "Undefinedd" %}</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.order_object.id_service %}
                            <a href="{% url 'view_service' id=order.order_object.id_service.id %}">{{ order.order_object.id_service }}</a>
                        {% else %}
                            <i>{% trans "Undefinedd" %}</i>
                        {% endif %}
                    </td>
                    <td>{{ order.order_object.start_date }}</td>
                    <td>{{ order.order_object.cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}